.Contact {
}

.Contact--Details {
  margin-top: 3rem;
}

.Contact--Details--Item {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid var(--grey);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: var(--orange);
}

.Contact--Details--Item svg {
  margin-right: 1.5rem;
  color: var(--orange);
}

.Contact--top {
  padding-bottom: 5rem;
}

.Contact--top .larger {
  font-size: 3.2rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.Contact--top .ServiceIcon {
  background: transparent;
}

.Contact--top .ServiceIcon > div {
  background: var(--pinkish);
}

.Contact--top a {
  display: flex;
  align-items: center;
  width: auto;
}

.Contact--top > div {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.Contact--contentWrap {
  padding-right: 10rem;
  font-size: 2rem;
}

.Contact--contentWrap strong {
  font-family: var(--font-secondary);
  font-weight: 400;
  margin-top: 1rem;
  display: inline-block;
}

.Contact--contentWrap p {
  font-size: 2rem;
  margin: 1rem 0;
}

.Contact--contentWrap a {
  color: var(--green);
}

.Contact--contentWrap img {
  width: auto;
  max-width: 100%;
}

.Contact--contentWrap hr {
  display: none;
}

.Contact--contentWrap .Content {
  margin-bottom: 4rem;
}

.Contact .Form {
  background: var(--grey);
  border-radius: 2rem;
  padding: 5rem;
  margin: 0;
}

.Contact .Form .Button {
  width: 100%;
}

@media (min-width: 750px) {
  .Contact--Section1--Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Contact--Section1--Container > * {
    width: calc(50% - 2rem);
  }
}
