.Home--QuoteSection .container {
  text-align: center;
}

.Home--QuoteSection .larger {
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.Home--Services p {
  margin-bottom: 7.5rem;
}
