.Accordion {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.Accordion img {
  position: absolute;
  top: -15rem;
  right: -7rem;
  width: 20rem;
  height: auto;
}

.Accordion--item {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--grey);
}

.Accordion--item h2 {
  cursor: pointer;
  display: block;
  margin: 0;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 200;
  letter-spacing: 0.02rem;
  line-height: 3rem;
}

.Accordion--item h2::after {
  display: none;
}

.Accordion--item svg {
  float: right;
  transition: ease all 0.3s;
}

.Accordion--item.active svg {
  transform: rotate(-180deg);
}

.Accordion--item .description {
  padding-top: 0;
  opacity: 0;
  transition: ease all 0.3s;
  max-height: 0;
}

.Accordion--item.active .description {
  padding-top: 2rem;
  opacity: 1;
  max-height: 50rem;
}
