.Footer {
  position: relative;
  padding: 3rem 0;
  background: var(--purple);
  color: var(--white);
  margin: 0 auto;
}

.Footer .Figure {
  bottom: 100%;
  width: 100%;
  height: auto;
  max-height: 3rem;
}

.Footer--Content {
  padding: 3rem 0;
}

.Footer--Content div {
  width: calc(100% / 3);
}

.Footer--Content div:last-of-type {
  text-align: right;
}

.Footer--Content p {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.Footer--Content .Footer--Logo {
  max-width: 25rem;
  max-height: 15rem;
  position: relative;
  margin: 0 auto;
  display: block;
}

.Footer--Content a {
  display: block;
}

.Footer--Copy {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 2rem;
}

.Footer--Copy p {
  font-size: 1.3rem;
}

.Footer--Copy a.Link {
  display: inline-block;
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .Footer .Flexbox {
    justify-content: space-around;
  }

  .Footer--Content div {
    width: calc(50% - 1rem);
  }

  .Footer .Flexbox > div:last-child {
    flex-basis: 100%;
    text-align: center;
    margin-top: 5rem;
  }

  .Footer--Content a {
    display: inline-block;
    margin: 0 2rem;
  }
}

@media (max-width: 425px) {
  .Footer .Flexbox {
    justify-content: space-between;
  }

  .Footer--Content div {
    text-align: center;
    width: 100%;
  }

  .Footer--Content .Footer--Logo {
    margin-top: 2rem;
  }

  .Footer .Flexbox > div:last-child {
    margin-top: 2rem;
  }

  .Footer--Content a {
    margin: 0 1rem;
  }

  .Footer--Copy p {
    text-align: center;
  }
}
