@import url('https://use.typekit.net/lrx4ixk.css');

:root {
  --orange: #e68562;
  --orangeDarker: #e57147;
  --blue: #71baee;
  --blueDarker: #54a9e5;
  --grey: #f3f1f0;
  --green: #81c279;
  --pinkish: #e2605b;
  --purple: #825799;
  --black: #353535;
  --white: #fff;
  --whiteOff: #f7f7f7;
  --font-primary: 'museo-sans', serif;
  --font-secondary: 'museo', serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--white);
  color: var(--black);
}

body {
  font-family: var(--font-system);
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: var(--whiteOff);
  color: var(--black);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7rem;
  line-height: 2.8rem;
  opacity: 0.8;
}

p.larger {
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
}

h1 {
  font-size: 7rem;
  line-height: 6.6rem;
}

h2 {
  font-size: 4rem;
  line-height: 5.4rem;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  position: relative;
}

h2::after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 12rem;
  background: var(--black);
  opacity: 0.3;
  bottom: 0;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

pre {
  background: var(--grey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--grey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--orange);
}

main {
  margin: 0 auto;
  max-width: 1440px;
  background: var(--white);
  overflow-x: hidden;
}

/* Utility Classes */
.light {
  background-color: var(--grey);
}
.white {
  background-color: var(--white);
}
.dark {
  background-color: var(--orange);
  color: var(--white);
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--white);
}

/*
  Utility
 */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

.Flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.Figure {
  position: absolute;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.container.larger {
  max-width: 1440px;
  padding: 0 5rem;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  position: relative;
  display: inline-block;
  background: transparent;
  color: var(--white);
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-secondary);
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  padding: 1.7rem 5rem;
  min-width: 20rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 2.5rem;
  line-height: 1.7rem;
  z-index: 0;
  text-align: center;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.13);
}
.Button::first-letter {
  text-transform: uppercase;
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button:hover::after,
.Button:focus::after {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.Button:focus::after {
  transition: 0.15s;
  border: 4px solid var(--orange);
}
.Button.Icon {
  padding-left: 7.5rem;
}
.Button.Icon .icon {
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -1px;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button::before,
.Button::after {
  position: absolute;
  content: '';
  border-radius: 2.5rem;
  display: inline-block;
}

.Button::before {
  background: var(--orange);
  z-index: -2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Button::after {
  background: var(--orangeDarker);
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transition: ease-in-out all 0.3s;
  z-index: -1;
}

.Button.Blue::before {
  background: var(--blue);
}

.Button.Blue::after {
  background: var(--blueDarker);
}
.Button.Blue:focus::after {
  border: 4px solid var(--blue);
}

.ServiceIcon {
  height: 5.6rem;
  width: 5.6rem;
  position: relative;
  display: inline-block;
  background: var(--blue);
  border-radius: 50%;
  transition: 0.3s ease all;
}

.ServiceIcon > div {
  position: absolute;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background: var(--white);
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
}
