.PageHeader {
  position: relative;
  background-color: var(--darkGrey);
  color: var(--white);
  padding: 15rem 0;
  clip-path: url(#headerClipPath);
  z-index: 0;
  overflow: hidden;
}

.PageHeader--Title {
  max-width: 60rem;
  font-weight: 500;
  line-height: 7.4rem;
}

.PageHeader--Subtitle {
  display: inline-block;
}

.PageHeader--Subtitle p {
  font-size: 3.6rem;
  opacity: 1;
  font-family: var(--font-secondary);
  font-weight: 300;
}

.PageHeader--Button {
  margin-left: 4rem;
}

.PageHeader .BackgroundImage::after,
.PageHeader .BackgroundImage::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  opacity: 0.9;
}

.PageHeader .BackgroundImage::before {
  height: 60rem;
  width: 60rem;
  background-color: var(--purple);
  bottom: -22rem;
  left: -15rem;
  z-index: 0;
}

.PageHeader .BackgroundImage::after {
  height: 40rem;
  width: 40rem;
  background-color: var(--orange);
  bottom: -15rem;
  left: 15rem;
  z-index: 0;
}

.PageHeader.PageHeader-large .BackgroundImage::before {
  bottom: -7rem;
}

.PageHeader.PageHeader-large .BackgroundImage::after {
  bottom: 4rem;
}

.PageHeader-large {
  padding: 30rem 0 25rem;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}

.PageHeader .Figure {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}
